
@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
}

<h2>Index</h2>
@Html.Label("Enter your request")
<form action ="/" id="SearchForm" method="post">
    @*@Html.TextBox("RequestBox")*@
    <input type="text" id="request"/>
    <button type="submit">Submit</button>
</form>
<script type="text/javascript">
    $("#SearchForm").submit(function (event) {
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("Submit", "CoreRequest"))",
            data: { "term": $("#request").val() }
        })
        event.preventDefault();
    });
    @*$("#RequestBox").autocomplete({
        source: function (request, response) {
            var customer = new Array();
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("AutoComplete", "CoreRequest"))",
                data: { "term": request.term },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        customer[i] = { label: data[i].Value, Id: data[i].Key };
                    }
                }
            });
            response(customer);
        },
        select: function (event, ui) {
            // Fill form
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: "@(Url.Action("GetDetail", "CoreRequest"))",
                data: { "id": ui.item.Id },

                success: function (data) {
                    $('#VisitorDetail').show();
                    $("#Name").html(data.VisitorName)
                    $("#Id").html(data.Id)
                    $("#Mobile").val(data.Mobile)

                    action = data.Action;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                }
            })
        }
    });*@
</script>